*{
    padding: 0;
    margin: 0;
}

/*Estilos del MenuBar*/
nav{
    margin: 20px;
}

.MenuBar{
    background: #2196F3;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-padding-start: 0;
    position: relative;
    
    -webkit-box-shadow: 10px 10px 43px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 43px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 43px 1px rgba(0,0,0,0.75);
}

.MenuBar-Item a,.active a {
    text-decoration: none;
    color: white;
    position: relative;
}

.MenuBar-Item , .active{
    float: left;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    width: 20%;
    z-index: 9;
}

.active{
    background-color: #0f304a;
}

.slider{
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    position: absolute;
    transition: left .4s, background-color .4s;
    z-index: 8;
}

ul li:nth-child(1):hover,
ul li:nth-child(1):focus,
ul li:nth-child(1):active{
    & ~ .slider{
        left: 0;
        background-color: #064375;
    }
   
}

ul li:nth-child(2):hover,
ul li:nth-child(2):focus,
ul li:nth-child(2):active{
    & ~ .slider{
        left:20%;
        background-color: #250759;
    }
}

ul li:nth-child(3):hover,
ul li:nth-child(3):focus,
ul li:nth-child(3):active{
    & ~ .slider{
        left:40%;
        background-color: #46064f;
    }
}

ul li:nth-child(4):hover,
ul li:nth-child(4):focus,
ul li:nth-child(4):active{
    & ~ .slider{
        left:60%;
        background-color: #29064f;
    }
}

ul li:nth-child(5):hover,
ul li:nth-child(5):focus,
ul li:nth-child(5):active{
    & ~ .slider{
        left:80%;
        background-color: #1d064f;
    }
}

/* estilos body */

body{
    height: 100%;
    overflow-y: auto;
    background-color: #3C5CB1;
}

.content-title{
    background-color: #064375;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius:10px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.content-title header{
    font-size: 40px;
}

.Content-gridCards{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center; 
}

.GridCard{
    padding: 20px;
    background-color: #064375;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius:10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.GridCard-title{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 25px;
}
.GridCard-img img{
    width: 150px;
}
.GridCard-img{
    display: flex;
    justify-content:center;
    align-items: center;
}
.GridCard-info{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 18px;
}

/*Button*/
button{
    padding: 10px 15px;
    font-size: 16px;
    display: flex;
    width: auto;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #1E2757 ;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
}

button:active {
    transform: scale(0.9); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease;
}

button:active,
button:focus,
button:hover{
    background-color: #3b457d;
    border: none;
}

i{
    color:white;
}
.ButtonWithIcon{
    gap: 10px;
}

.GridCard-button{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%; 
}