*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.CardBox-Container{
    max-width: 300px;
    border-radius: 15px;
    background-color: #607D8B;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 20px;
    text-align: center; 
    transition: transform 0.3s ease-in-out;
}
.CardBox-Container:hover {
    transform: scale(1.03);
}

.CardBox-Container-img{
    width: 100%;
    max-width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.CardBox-Container-text{
    margin: 15px;
    color: white;
    font-size: 17px;
}

hr{
    border: none;
    border-top: 2px solid black;
    width: 90%;
    margin: 10px auto; 
}

.CardBox-Container-Input-Content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.CardBox-Container-Input-Content input{
   
    background-color: #3F51B5;
    border: none;
    border-color: #3F51B5;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    cursor: pointer; 
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    min-width: 100px;
}
.CardBox-Container-Input-Content input:hover{
    background-color: #283593;
    transform:  scale(1.05);
}

.CardBox-Container-Input-Content input:active {
    transform: scale(0.95);
}
